# Virtual Environment
venv/
.venv/
env/

# Bytecode files
*.pyc
*.pyo
__pycache__/

# Environment variables
.env

# Logs
*.log

# Database files
*.sqlite3
*.db

# Docker
*.pid
db_data/
.dockerignore
migrations/

# IDEs and Editors
.vscode/
.idea/

# Test cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage

# Build artifacts
build/
dist/
*.egg-info/
